## database primary (the reason of why this service exists at all) set here your global database to recieve scrapping data
DATABASE_URL_PRIMARY="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
## database of internal scrapping informations. Set here your local database to get informations about the scrapping service
DATABASE_URL_SECONDARY="your sqlite database URL"

## API work

NODE_ENV =  # switch between 'dev' and 'deploy'
HOST = 
PORT = 

## WS Work

WS_API_DEFAULT_PAGE_lOAD_TIME = 80000 ## default api load time rate ( standard 80000 or 80 seconds)